.container{
    font-size: 1.2rem;
    text-align: left;
}

.caixa_3{
    background-color: lightgoldenrodyellow;
    border: solid 1px lightgreen;
    font-weight: 400;
}

.caixa_45{
    background-color: lightskyblue;
    border: solid 1px purple;
}

.caixa_69{
    background-color: lightseagreen;
    border: solid 1px green;
}